* {
    box-sizing: border-box;
}

html {
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EA877F;
    text-align: center;
}

h1 {
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-top: 2%;
}

.form {
    background-color: #ffffff;
    text-align: justify;
    margin: 3% auto;
    border-radius: 20px;
    font-size: 16px;
    padding: 2% 3% 2% 3%;
    width: 80%;
}

fieldset.form legend {
    background-color: #ee625a;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 2%;
    margin: 4% auto;
    width: 60%;
}
.form_table2 {
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;

}

.form_table2bis {
    vertical-align: center;
    float: left;
    margin-left: 5%;
    margin-bottom: 10%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 40%;
    border: 2px solid #dddddd;
}
.form_table2bis th, td {
    text-align: left;
    padding: 16px;

}

.form_table2bis th{
    background-color: #f8f8f8;
}

.form_table2bis tr:nth-child(2n) {
    background-color: #BDBDBD;
}
.form_table2bis tr:nth-child(2n+1) {
    background-color: #949494;
}

.tableaux{
    display:inline-block;
    vertical-align:top;
}
.form_table3bis {
    vertical-align: center;
    float: right;
    margin-right: 40%;
    margin-bottom: 10%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 24%;
    border: 2px solid #dddddd;
}
.form_table3bis th, td {
    text-align: left;
    padding: 16px;
}

.form_table3bis th{
    background-color: #f8f8f8;
}

.form_table3bis tr:nth-child(2n) {
    background-color: #BDBDBD;
}
.form_table3bis tr:nth-child(2n+1) {
    background-color: #949494;
}

.td_field2 {
    vertical-align: text-top;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    width: 62%;
}

.td_label {
    vertical-align: text-top;
    font-size: 16px;
    text-align: left;
    margin-left: 100px;
    padding: 5px;
}

.center{
    margin: 0 auto;
    width: 100px;
}

.action_btn{
   color: black;
    cursor: pointer;
}

.list_recap{
    margin: 0 auto;
    width: 60%;
    background-color: white;
    padding: 10px;
    list-style-type: none;
    text-align: left;
}

.list-group-item{
    border: none;
}

.checkbox_style{
    margin-right: 5px;
}

.dash_table{
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
}

.dash_table {
    padding: 5px;
    margin-left: 10%;
    text-align: left;
    width: 60%;
}

.dash_table th{
    background-color: #BDBDBD;
}

.dash_table td{
    background-color: #fdfdfd;
}

