* {
    box-sizing: border-box;
}

html {
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EA877F;
    text-align: center;
}

h1 {
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-top: 2%;
}

.form {
    background-color: #ffffff;
    text-align: justify;
    margin: 3% auto;
    border-radius: 20px;
    font-size: 16px;
    padding: 2% 3% 2% 3%;
    width: 80%;
}

fieldset.form legend {
    background-color: #ee625a;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 2%;
    margin: 4% auto;
    width: 60%;
}
.form_table2 {
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;

}

.td_field2 {
    vertical-align: text-top;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    width: 62%;
}

.td_label {
    vertical-align: text-top;
    font-size: 16px;
    text-align: left;
    margin-left: 100px;
    padding: 5px;
}

.center{
    margin: 0 auto;
    width: 100px;
}