{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}

<div class="center">
    <button class="btnG">{{ button_label|default('Démarrer un nouveau live') }}</button>
</div>


{{ form_end(form) }}
